/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 400px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsibleContent {
    padding: 2 10px;
    width: 800px;
    display: none;
    overflow: visible;
    background-color: rgb(255, 240, 240);
}

/* Style the collapsible content. Note: hidden by default */
.feedbackCollapsible {
    padding: 2 10px;
    width: 1080px;
    display: none;
    overflow: visible;
    background-color: rgb(255, 240, 240);
}

.issueLabelButton {
    background-color: rgb(189, 189, 189);
}

.issueLabelButton.issueLabelActive {
    background-color: rgb(21, 0, 255);
    color: white;
}

.tabBtn {
    background-color: #1E1E1E;
    color: white;
    border-bottom: 1px;
    font-family: "Segos UI", sans-serif;
    font-weight: 600;
    text-transform: none;
    border-right: 0px;
}

.tabBtnX {
    background-color: #1E1E1E;
    color: white;
    border-bottom: 1px;
    font-family: "Segos UI", sans-serif;
    font-weight: 600;
    text-transform: none;
    border-left: 0px;
}

.activeTabBtn {
    background-color: #777777;
    color: white;
    border-bottom: 1px;
    font-family: "Segos UI", sans-serif;
    font-weight: 600;
    text-transform: none;
    border-right: 0px;
}

.activeTabBtnX {
    background-color: #777777;
    color: #777777;
    border-bottom: 1px;
    font-family: "Segos UI", sans-serif;
    font-weight: 600;
    text-transform: none;
    border-left: 0px;
}




td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

table {
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 5px;
    border-radius: 20px;
}

.errorLineDecoration {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    background: rgba(255, 0, 0, 0.25);
    ;
}

.nextLineDecoration {
    text-decoration: underline;
    font-weight: bold;
    background: rgba(255, 255, 70, 0.25);
}

.lastLineDecoration {
    text-decoration: underline;
    font-weight: bold;
    background: rgba(255, 70, 70, 0.125);
}

#memValuesTable,
#regValuesTable,
#outputBox,
#inputBox,
#errorBox,
#emulationInfo {
    font-family: monospace;
}

td.memory-value-in-ascii {
    color: magenta;
}

.tableFixHead {
    overflow-y: auto;
    overflow-x: visible;
    width: 575px;
    height: 320px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.smallTableFixHead {
    overflow-y: auto;
    overflow-x: visible;
    width: 300px;
    height: 85px;
}

.smallTableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}