{% extends "base.html.j2" %}

{% block title %} (arm64_linux){% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/arm64_linux.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
{% endblock %}
{% block navbar %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ARM64 Resources</a>
        <div class="dropdown-menu">
            <a target="_blank" class="dropdown-item" rel="noopener noreferrer" href="https://developer.arm.com/documentation/102374/latest/">Official Documentation</a>
            <a target="_blank" class="dropdown-item" rel="noopener noreferrer" href="https://www.cs.swarthmore.edu/~kwebb/cs31/resources/ARM64_Cheat_Sheet.pdf">Swarthmore's Reference Sheet</a>
            <a target="_blank" class="dropdown-item" rel="noopener noreferrer" href="https://courses.cs.washington.edu/courses/cse469/19wi/arm64.pdf">UW's Quick Reference</a>
            <a target="_blank" class="dropdown-item" rel="noopener noreferrer" href="https://blog.xhyeax.com/2022/04/28/arm64-syscall-table/">Syscalls for ARM64 - Linux</a>
            <a target="_blank" class="dropdown-item" rel="noopener noreferrer" href="https://gpages.juszkiewicz.com.pl/syscalls-table/syscalls.html">Syscalls for many architectures</a>
        </div>
    </li>
{% endblock %}
{% block content %}

    <h1 style="display: inline">ARM64 - Linux</h1>
    &nbsp;&nbsp;
    <input type="button" id="runBtn" value="Run" onclick="runCode()" />
    <input type="button" id="runBtn" value="CL Args" onclick="setCLArgs()" />
    <input type="button" id="resetBtn" value="Reset" onclick="clearOutput()" />
    <input type="button" id="saveBtn" value="Save" onclick='download_file("usrCode.S", getSource(), "text/plain")'  />
    <input type="button" id="loadBtn" value="Load" onclick="notImplemented()" disabled="true" />
    <br/>
    <div id="monaco-container" style="width:800px;height:600px;border:1px solid grey"></div>
    <div>
        <b>Debug Menu:</b>
        <input type="button" id="debugStart" value="start" onclick="startDebugger()" />
        <input type="button" id="debugContinue" value="continue" onclick="continueDebug()" disabled="true" />
        <input type="button" id="debugStep" value="step" onclick="stepDebug()" disabled="true" />
        <input type="button" id="debugBreakpoint" value="breakpoint" onclick="toggleBreakpoint()" disabled="true" />
        <input type="button" id="debugStop" value="stop" onclick="stopDebugger()"disabled="true" />
    </div>
    <br/>
    <table>
        <tr>
            <th>Run Status</th>
            <td>Done: <span id="runStatus">⭕</span></td>
            <td>Assembled: <span id="asStatus">⭕</span></td>
            <td>Linked: <span id="ldStatus">⭕</span></td>
            <td>Exited: <span id="execStatus">⭕</span></td>
            <td>Debugging: <span id="debugStatus">⭕</span></td>
        </tr>
        <tr>
            <th>Status Flags</th>
            <td>N: <span id="nFlag">⭕</span></td>
            <td>Z: <span id="zFlag">⭕</span></td>
            <td>C: <span id="cFlag">⭕</span></td>
            <td>V: <span id="vFlag">⭕</span></td>
        </tr>
    </table> 

    <h3>Input</h3>
    <textarea id="inputBox" name="inputBox" rows=5 cols=80 placeholder="type any input your code will use here"></textarea>

    <h3>Output</h3>
    <textarea id="outputBox" name="outputBox" readOnly=true rows=5 cols=80 placeholder="your output will appear here after your code finishes running..."></textarea>

    <br/>
    <br/>

    <button type="button" class="collapsible">Feedback/Issue</button>
    <div class="feedbackCollapsible">
        <div>
            <textarea id="issueTitle" name="issueTitle" rows=1 cols=120 placeholder="Title (Required*)"></textarea>
            <textarea id="issueBody" name="issueBody" rows=10 cols=120 placeholder="Describe your feedback/issue... (Required*)"></textarea>

            <h3 style="margin: 0px">Add Labels:</h3>
            <input type="button" id="issueBugLabel" class="issueLabelButton" value="Bug" />
            <input type="button" id="issueHelpWantedLabel" class="issueLabelButton" value="Help Wanted" />
            <input type="button" id="issueEnhancementLabel" class="issueLabelButton" value="Enhancement" />
            <input type="button" id="issueQuestionLabel" class="issueLabelButton" value="Question" />
            <input type="button" id="issueInvalidLabel" class="issueLabelButton" value="Invalid" />
        </div>
        <div>
            <ul>
                <li>By pressing Submit, you will be brought to a GitHub Issues submit page.</li>
                <li>The info you fill out here will be autofilled on that page.</li>
                <li>Also, all emulation information will be appended to the bottom of the body.</li>
                <li style="color: red">Your source code will be appended to your issue. <b>Be sure you aren't sharing private code!</b></li>
            </ul>
            <input type="button" id="issueSubmit" value="Submit" style="background-color: rgb(255,100,255); width: 150px; height: 50px" onclick="submitIssue()" />

        </div>
    </div> 

    <br/>
    <br/>

    <button type="button" class="collapsible">Show/hide registers</button>
    <div class="collapsibleContent">
        <textarea id="regValues" name="regValues" readOnly=true rows=10 cols=100 placeholder="register values will appear here after your code finishes running..."></textarea>
        <p>Registers visualization notes:</p>
        <ul style="margin-top:-10px;">
            <li>values are shown in hex (e.g., 0a instead of 15);</li>
            <li>bytes are separated to help reading them (e.g., 01_00_20_30 instead of 01002030);</li>
            <li>registers that were modified during execution are highlighted;</li>
            <li>you can see all registers as hex without separation or highlighting in the "show all emulation information" pane.</li>
        </ul>
    </div> 

    <br/>
    <br/>

    <button type="button" class="collapsible">Show/hide memory</button>
    <div class="collapsibleContent">
        <textarea id="memValues" name="memValues" readOnly=true rows=10 cols=100 placeholder="memory values will appear here after your code finishes running..."></textarea>
        <p>Memory visualization notes:</p>
        <ul style="margin-top:-10px;">
            <li>values are shown in hex (e.g., 0a instead of 15);</li>
            <li>values that are printable by the ASCII table are shown as characters (e.g., 'A' instead of 41);</li>
            <li>all whitespace characters are kept as hex so you can tell them apart more easily (e.g., 20  09 instead of ' '  '&#09;');</li>
            <li>you can see *all* bytes as hex in the "show all emulation information" pane.</li>
        </ul>
    </div>

    <br/>
    <br/>

    <button type="button" class="collapsible">Show/hide error information</button>
    <div class="collapsibleContent">
        <textarea id="errorBox" name="errorBox" readOnly=true rows=10 cols=100 placeholder="any errors will appear here after your code finishes running..."></textarea>
    </div>
    
    <br/>
    <br/>

    <button type="button" class="collapsible">Show/hide all emulation information</button>
    <div class="collapsibleContent">
        <textarea id="emulationInfo" name="emulationInfo" readOnly=true rows=10 cols=100 placeholder="emulation info will appear here after your code finishes running..."></textarea>
       <input id="downloadButton" type="button" value="download as json" onclick='download_file("emulationInfo.json", getLastRunInfo(), "application/json")' disabled="true" />
    </div>

    <h3>Missing elements</h3>
    <ul>
        <li>Editor tabs for multi-file</li>
        <li>Menus so the user can customize view (e.g., which registers show, dark vs light theme)</li>
    </ul>

{% endblock %}

{% block scripts %}
    <script src="/static/vs/loader.js"></script>
    <script src="{{ url_for('static', filename='js/arm64_linux.js') }}"></script>
    <script>createEditor({{ default_code }})</script>
{% endblock %}
