{% extends "base_editor.html.j2" %}


{% block title %} - RISCV64{% endblock %}


{% block archTag %}risc-v{% endblock %}


{% block navbar %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            RISC-V Resources
        </a>
        <ul class="dropdown-menu">
            <li><a target="_blank" class="dropdown-item" rel="noopener noreferrer" href="https://lf-riscv.atlassian.net/wiki/spaces/HOME/pages/16154769/RISC-V+Technical+Specifications">Official Documentation</a></li>
            <li><a target="_blank" class="dropdown-item" rel="noopener noreferrer" href="https://marks.page/riscv/">RISC-V Guide</a></li>
            <li><a target="_blank" class="dropdown-item" rel="noopener noreferrer" href="https://projectf.io/posts/riscv-cheat-sheet/">Project F's Cheat Sheet</a></li>
            <li><a target="_blank" class="dropdown-item" rel="noopener noreferrer" href="https://www.cl.cam.ac.uk/teaching/1617/ECAD+Arch/files/docs/RISCVGreenCardv8-20151013.pdf">Cambridge's Reference Sheet</a></li>
            <li><a target="_blank" class="dropdown-item" rel="noopener noreferrer" href="https://llp.mit.edu/6190/_static/S24A/resources/references/riscv_isa_reference.pdf">MIT's Quick Reference</a></li>
            <li><a target="_blank" class="dropdown-item" rel="noopener noreferrer" href="https://gpages.juszkiewicz.com.pl/syscalls-table/syscalls.html">Syscalls for many architectures</a></li>
        </ul>
    </li>
{% endblock %}

{% block archScript %}
    <script src="{{ url_for('static', filename='js/riscv64_linux.js') }}"></script>
{% endblock %}
